#contenedor{
    border: 1px solid black;
    width: 60%;
    margin:auto;
    text-align: center;
}

input{
    border: 2px solid #09a0048c;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 6px;
    font-size: 14px;
    font-weight: bold;
}

#listapalabras{
    visibility: hidden;
}

#juego{
    border-radius: 50px;
    border: 2px solid rgb(95, 133, 255);
    background-color: #acc6ffc2;
    box-shadow: 2px 2px 10px #1100ff;
}

html body {
    background-color: rgb(211, 211, 211);
}
